.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000%;
  }

  /* .events-img {
    background: url('/src/components/images/events.jpg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
} */